@charset "UTF-8";
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/arial-regular.woff2") format("woff2"), url("../fonts/arial-regular.woff") format("woff"), url("../fonts/arial-regular.ttf") format("ttf"), url("../fonts/arial-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../fonts/georgia-regular.woff2") format("woff2"), url("../fonts/georgia-regular.woff") format("woff"), url("../fonts/georgia-regular.ttf") format("ttf"), url("../fonts/georgia-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: bold;
  font-weight: 700;
  src: local("Georgia"), url("../fonts/georgia-bold.woff2") format("woff2"), url("../fonts/georgia-bold.woff") format("woff"), url("../fonts/georgia-bold.ttf") format("ttf"), url("../fonts/georgia-bold.otf") format("otf");
}

.footer__email, .footer__phone, .footer__location1, .footer__location2 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px 'Georgia', 'Times New Roman', 'Times', serif;
}

p {
  font: 400 15px "Arial", sans-serif;
  line-height: 160%;
}

.header, .gradient {
  background-image: url("../../assets/images/start-screen-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 990px) {
  .header, .gradient {
    background-image: url("../../assets/images/start-screen-background-990.png");
  }
}

@media (max-width: 767px) {
  .header, .gradient {
    background-image: url("../../assets/images/start-screen-background-320.png");
  }
}

.gradient {
  background-position-y: -180.19px;
}

@media (max-width: 990px) {
  .gradient {
    background-position-y: -150.19px;
  }
}

.footer {
  background-image: url("../../assets/images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 976px) {
  .footer {
    background-image: url("../../assets/images/footer-background-976.png");
  }
}

@media (max-width: 600px) {
  .footer {
    background-image: url("../../assets/images/footer-background-320.png");
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px;
}

@media (max-width: 767px) {
  .section {
    padding: 42px 0;
  }
}

.bakcground {
  background-color: #F6F6F6;
}

.title {
  font-size: 35px;
  color: #545454;
  line-height: 130%;
  padding-bottom: 60px;
  letter-spacing: 0.06em;
}

@media (max-width: 600px) {
  .title {
    font-size: 25px;
    color: #545454;
    line-height: 130%;
    padding-bottom: 42px;
    text-align: center;
  }
}

.btn {
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 14px 43px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.btn:active {
  color: #292929;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.header {
  padding: 60px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.header__logo-subtitle {
  font: 400 13px "Arial", sans-serif;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-right: 43px;
  }
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-size: 15px;
  letter-spacing: 0.006em;
  margin: 0 0 5px 35px;
}

.nav__link {
  font: 400 15px "Arial", sans-serif;
  color: #CDCDCD;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: #FAFAFA;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.first {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.pets.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper__item:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.wrapper__item:hover .wrapper__btn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.wrapper__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding: 30px 0 29px 0;
}

.wrapper__btn {
  background-color: transparent;
  margin-bottom: 30px;
}

@media (max-width: 1130px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
}

.footer__column1, .footer__column2, .footer__column3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.footer__title {
  display: inline-block;
  color: #FFFFFF;
  padding: 56px 0 0;
}

.footer__title_title1, .footer__title_title2 {
  margin: 0 40px 34px -1px;
}

.footer a {
  display: block;
}

.footer__email {
  padding: 10px 0 4px 60px;
  margin-bottom: 40px;
  position: relative;
}

.footer__email::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-email.svg");
  width: 40px;
  height: 32px;
  top: 5px;
  left: 0px;
}

.footer__phone {
  padding: 5px 0 4px 60px;
  margin-bottom: 60px;
  position: relative;
}

.footer__phone::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-phone.svg");
  width: 40px;
  height: 32px;
  top: 0px;
  left: 0px;
}

.footer__location1 {
  padding: 0px 0 4px 39px;
  margin-bottom: 32px;
  position: relative;
}

.footer__location1::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: 5px;
  left: -3px;
}

.footer__location2 {
  padding: 0px 0 4px 40px;
  margin-bottom: 60px;
  position: relative;
}

.footer__location2::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: -5px;
  left: -3px;
}

.footer__img {
  padding-top: 40px;
  margin-left: 20px;
}

@media (max-width: 1279px) {
  .footer__container {
    gap: 2%;
  }
}

@media (max-width: 1054px) {
  .footer__container {
    gap: 0;
  }
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .footer__column3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1010px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .footer__title {
    padding: 30px 0 0;
  }
  .footer__phone, .footer__location2 {
    margin-bottom: 65px;
  }
  .footer__column1 {
    margin: 0 0 0 35px;
  }
  .footer__column2 {
    margin: 0 0 0 5px;
  }
}

@media (max-width: 976px) {
  .footer__img {
    padding-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 694px) {
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__title_title1, .footer__title_title2 {
    margin: 0 0 34px -1px;
  }
}

@media (max-width: 592px) {
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__title {
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .footer__title_title2 {
    padding: 0 20px;
  }
  .footer__column1, .footer__column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .footer__phone {
    margin-bottom: 40px;
  }
  .footer__location2 {
    margin-bottom: 44px;
  }
  .footer__email {
    padding: 10px 0 4px 85px;
  }
  .footer__email::before {
    top: 5px;
    left: 24px;
  }
  .footer__phone {
    padding: 5px 0 4px 90px;
  }
  .footer__phone::before {
    top: 0px;
    left: 30px;
  }
  .footer__location1 {
    padding: 5px 0 4px 42px;
  }
  .footer__location1::before {
    top: 11px;
    left: 0;
  }
  .footer__location2 {
    padding: 8px 0 0 42px;
  }
  .footer__location2::before {
    top: 4px;
    left: 0px;
  }
  .footer__img {
    width: 87%;
    height: 87%;
  }
}

@media (max-width: 320px) {
  .footer__column1, .footer__column2 {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%);
  z-index: 999;
}

.header__logo-title {
  color: #545454;
}

.header__logo-subtitle {
  color: #292929;
}

.nav__link {
  color: #545454;
}

.nav__link:hover {
  color: #000000;
}

.second {
  color: #000000;
  border-bottom: 3px solid #F1CDB3;
}

@media (max-width: 1220px) {
  .pets.section {
    padding-bottom: 76px;
  }
}

@media (max-width: 657px) {
  .pets.section {
    padding-bottom: 42px;
  }
}

.pets {
  margin-top: 120.19px;
}

.pets__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.pets__btn-dir {
  padding: 24px;
  background-color: transparent;
}

.pets__btn-dir_left-steps, .pets__btn-dir_left, .pets__btn-dir_right, .pets__btn-dir_right-steps {
  position: relative;
  z-index: 0;
}

.pets__btn-dir_left-steps::before, .pets__btn-dir_left::before, .pets__btn-dir_right::before, .pets__btn-dir_right-steps::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  height: 23px;
  top: 42.20%;
}

.pets__btn-dir_left-steps::before {
  background-image: url("../../assets/icons/left-steps.svg");
  width: 27px;
  left: 22.54%;
}

.pets__btn-dir_left {
  margin-left: 20px;
}

.pets__btn-dir_left::before {
  background-image: url("../../assets/icons/left.svg");
  width: 13px;
  left: 38.54%;
}

.pets__btn-dir_current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  font-size: 20px;
  background-color: #F1CDB3;
  margin: 0 20px;
}

.pets__btn-dir_current:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  cursor: default;
}

.pets__btn-dir_right {
  margin-right: 20px;
}

.pets__btn-dir_right::before {
  background-image: url("../../assets/icons/right.svg");
  width: 13px;
  left: 38.54%;
}

.pets__btn-dir_right-steps::before {
  background-image: url("../../assets/icons/right-steps.svg");
  width: 27px;
  left: 22.54%;
}

.pets__btn-dir__icon {
  position: absolute;
  top: auto;
  left: auto;
}

@media (max-width: 1220px) {
  .pets__title {
    padding-bottom: 30px;
  }
  .pets__buttons {
    margin-top: 12px;
  }
}

@media (max-width: 657px) {
  .pets__title {
    padding-bottom: 42px;
  }
  .pets__buttons {
    margin-top: 13px;
  }
  .pets__btn-dir_left {
    margin-left: 10px;
  }
  .pets__btn-dir_current {
    margin: 0 10px;
  }
  .pets__btn-dir_right {
    margin-right: 10px;
  }
}

.wrapper__item {
  margin-bottom: 30px;
}

@media (max-width: 1220px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper__item {
    margin: 0 5px 30px;
  }
}

@media (max-width: 1179px) {
  .wrapper__item_item7, .wrapper__item_item8 {
    display: none;
  }
}

@media (max-width: 1060px) {
  .wrapper {
    padding: 0 6.1% 0;
  }
}

@media (max-width: 657px) {
  .wrapper__item_item4, .wrapper__item_item5, .wrapper__item_item6 {
    display: none;
  }
}

button[data-disabled] {
  border: 2px solid #CDCDCD;
  cursor: default;
}

button[data-disabled]:hover {
  border: 2px solid #CDCDCD;
  background-color: transparent;
}
