@charset "UTF-8";
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/arial-regular.woff2") format("woff2"), url("../fonts/arial-regular.woff") format("woff"), url("../fonts/arial-regular.ttf") format("ttf"), url("../fonts/arial-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../fonts/georgia-regular.woff2") format("woff2"), url("../fonts/georgia-regular.woff") format("woff"), url("../fonts/georgia-regular.ttf") format("ttf"), url("../fonts/georgia-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: bold;
  font-weight: 700;
  src: local("Georgia"), url("../fonts/georgia-bold.woff2") format("woff2"), url("../fonts/georgia-bold.woff") format("woff"), url("../fonts/georgia-bold.ttf") format("ttf"), url("../fonts/georgia-bold.otf") format("otf");
}

.footer__email, .footer__phone, .footer__location1, .footer__location2 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px 'Georgia', 'Times New Roman', 'Times', serif;
}

p {
  font: 400 15px "Arial", sans-serif;
  line-height: 160%;
}

.header, .gradient, .footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#5B483A), color-stop(50%, #2B2624), to(#222021));
  background-image: -webkit-linear-gradient(left, #5B483A 0%, #2B2624 50%, #222021 100%);
  background-image: -o-linear-gradient(left, #5B483A 0%, #2B2624 50%, #222021 100%);
  background-image: linear-gradient(to right, #5B483A 0%, #2B2624 50%, #222021 100%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px;
}

.bakcground {
  background-color: #F6F6F6;
}

.title {
  font-size: 35px;
  color: #545454;
  line-height: 130%;
  padding-bottom: 60px;
  letter-spacing: 0.06em;
}

.btn {
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 14px 43px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.btn:active {
  color: #292929;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.header {
  padding: 60px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.header__logo-subtitle {
  font: 400 13px "Arial", sans-serif;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-size: 15px;
  letter-spacing: 0.006em;
  margin: 0 0 5px 35px;
}

.nav__link {
  font: 400 15px "Arial", sans-serif;
  color: #CDCDCD;
  padding-bottom: 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__link:hover {
  color: #FAFAFA;
}

.nav__link:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.first {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.pets.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper__item:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.wrapper__item:hover .wrapper__btn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.wrapper__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding: 30px 0 29px 0;
}

.wrapper__btn {
  background-color: transparent;
  margin-bottom: 30px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  color: #FFFFFF;
  padding: 56px 0 0;
}

.footer__title_title1 {
  margin-bottom: 40px;
}

.footer__title_title2 {
  margin: 0 0 34px -1px;
}

.footer a {
  display: block;
}

.footer__email {
  padding: 10px 0 4px 60px;
  margin-bottom: 40px;
  position: relative;
}

.footer__email::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-email.svg");
  width: 40px;
  height: 32px;
  top: 5px;
  left: 0px;
}

.footer__phone {
  padding: 5px 0 4px 60px;
  margin-bottom: 60px;
  position: relative;
}

.footer__phone::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-phone.svg");
  width: 40px;
  height: 32px;
  top: 0px;
  left: 0px;
}

.footer__column2 {
  margin-right: 5px;
}

.footer__location1 {
  padding: 0px 0 4px 39px;
  margin-bottom: 32px;
  position: relative;
}

.footer__location1::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: 5px;
  left: -3px;
}

.footer__location2 {
  padding: 0px 0 4px 40px;
  margin-bottom: 60px;
  position: relative;
}

.footer__location2::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: -5px;
  left: -3px;
}

.footer__img {
  padding-top: 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 42px;
}

.hero__title {
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
  padding-bottom: 42px;
  letter-spacing: 0;
}

.hero__decription {
  color: #CDCDCD;
  margin-bottom: 42px;
}

.hero__btn {
  margin-bottom: 80px;
}

.hero__right {
  width: 100%;
  height: 100%;
}

.about {
  padding: 80px 175px 100px;
}

.about__img {
  margin-right: 120px;
}

.about__title {
  padding-bottom: 0;
}

.about__text {
  margin-top: 25px;
}

.pets__wrapper {
  padding: 0 105px;
}

.pets__btn {
  margin-top: 60px;
}

.wrapper {
  position: relative;
}

.wrapper__btn-dir {
  background-color: transparent;
  position: absolute;
  top: 192px;
  padding: 24px;
  margin-bottom: 30px;
}

.wrapper__btn-dir_left {
  left: 0;
}

.wrapper__btn-dir_left::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/arrow-left.svg");
  width: 14px;
  height: 6px;
  left: 35.54%;
  top: 42.20%;
}

.wrapper__btn-dir_right {
  right: 0;
}

.wrapper__btn-dir_right::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/arrow-right.svg");
  width: 14px;
  height: 6px;
  left: 35.54%;
  top: 42.20%;
}

.help {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 45px;
}

.help__title {
  text-align: center;
}

.help__box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px 55px;
}

.help__img {
  width: 60px;
  height: 60px;
  background-position: center;
}

.help__img_img1 {
  background-image: url("../../assets/icons/icon-pet-food.svg");
}

.help__img_img2 {
  background-image: url("../../assets/icons/icon-transportation.svg");
}

.help__img_img3 {
  background-image: url("../../assets/icons/icon-toys.svg");
}

.help__img_img4 {
  background-image: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.help__img_img5 {
  background-image: url("../../assets/icons/icon-shampoos.svg");
}

.help__img_img6 {
  background-image: url("../../assets/icons/icon-vitamins.svg");
}

.help__img_img7 {
  background-image: url("../../assets/icons/icon-medicines.svg");
}

.help__img_img8 {
  background-image: url("../../assets/icons/icon-collars-leashes.svg");
}

.help__img_img9 {
  background-image: url("../../assets/icons/icon-sleeping-area.svg");
}

.help__subtitle {
  font-size: 20px;
  line-height: 115%;
  padding: 0;
  margin-top: 30px;
}

.donation {
  padding: 80px 143px 100px;
}

.donation__img {
  margin-right: 30px;
}

.donation__title {
  padding-bottom: 18px;
}

.donation__subtitle {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.donation__phone {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.donation__phone:hover {
  background-color: #FDDCC4;
}

.donation__phone::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/donation-credit-card.svg");
  width: 30px;
  height: 23px;
  top: 10px;
  left: 15px;
}

.donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
