@import'../../assets/scss/_fonts';
@import'../../assets/scss/_variables';
@import'../../assets/scss/_normalize';
@import'../../assets/scss/_global';

.hero {
    @include flex-container($jus: stretch);

    &__left {
        @include flex-container($dir: column, $ali: start);
        margin-right: 42px;
    }

    &__title {
        @include style-title($size: 44px, $color: #{$color-white}, $pad: 42px);
        letter-spacing: 0;
    }

    &__decription {
        color: $color-gray-normal;
        margin-bottom: 42px;
    }

    &__btn {
        margin-bottom: 80px;
    }

    &__right {
        width: 100%;
        height: 100%;
    }
}

.about {
    padding: 80px 175px 100px;

    &__img {
        margin-right: 120px;
    }
}

.description {
    &__title {
        padding-bottom: 0;
    }

    &__text {
        margin-top: 25px;
    }
}

.pets.section {
    @include flex-container($dir: column);
}

.pets {
    background-color: $color-bg-section;

    &__title {
        text-align: center;
    }

    &__wrapper {
        padding: 0 105px;
    }

    &__btn {
        margin-top: 60px;
    }
}

.wrapper {
    width: 100%;
    @include flex-container($jus: space-between);
    position: relative;

    &__item {
        @include flex-container($dir: column, $jus: space-between);
        background-color: $color-gray-hover_modal-card;
        border-radius: 9px;
        transition: all 0.5s ease;

        &:hover {
            background-color: $color-white;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        &:hover .wrapper__btn {
            background-color: $color-bg-btn-hover;
            border: 2px solid $color-bg-btn-hover;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        padding: 30px 0 29px 0;
    }

    &__btn {
        background-color: transparent;
        margin-bottom: 30px;
    }

    &__btn-dir {      
        background-color: transparent;
        position: absolute;
        top: 192px;
        padding: 24px;
        margin-bottom: 30px;

        &_left {
            left: 0;

            &::before {
                content: '';
                position: absolute;
                background-image: url('../../assets/icons/arrow-left.svg');
                width: 14px;
                height: 6px;
                left: 35.54%;
                top: 42.20%;
            }
        }

        &_right {
            right: 0;

            &::before {
                content: '';
                position: absolute;
                background-image: url('../../assets/icons/arrow-right.svg');
                width: 14px;
                height: 6px;
                left: 35.54%;
                top: 42.20%;
            }
        }
    }
}

.help {
    flex-direction: column;
    padding-bottom: 45px;

    &__title {
        text-align: center;
    }

    &__box-items {
        @include flex-container;
        flex-wrap: wrap;
    }

    &__item {
        @include flex-container($dir: column);
        margin: 0 60px 55px;
    }

    &__img {
        width: 60px;
        height: 60px;
        background-position: center;
        

        &_img1 {
            background-image: url('../../assets/icons/icon-pet-food.svg');
        }

        &_img2 {
            background-image: url('../../assets/icons/icon-transportation.svg');
        }

        &_img3 {
            background-image: url('../../assets/icons/icon-toys.svg');
        }

        &_img4 {
            background-image: url('../../assets/icons/icon-bowls-and-cups.svg');
        }

        &_img5 {
            background-image: url('../../assets/icons/icon-shampoos.svg');
        }

        &_img6 {
            background-image: url('../../assets/icons/icon-vitamins.svg');
        }

        &_img7 {
            background-image: url('../../assets/icons/icon-medicines.svg');
        }

        &_img8 {
            background-image: url('../../assets/icons/icon-collars-leashes.svg');
        }

        &_img9 {
            background-image: url('../../assets/icons/icon-sleeping-area.svg');
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 115%;
        padding: 0;
        margin-top: 30px;
    }
}

.donation {
    background-color: $color-bg-section;
    padding: 80px 143px 100px;

    &__img {
        margin-right: 30px;
    }

    &__title {
        padding-bottom: 18px;
    }

    &__subtitle {
        font-size: 15px;
        letter-spacing: 0.06em;
        color: $color-text-title;
        margin-bottom: 20px;
    }

    &__phone {
        display: inline-block;
        position: relative;
        font-size: 20px;
        line-height: 115%;
        align-items: center;
        letter-spacing: 0.06em;
        color: $color-text-title;
        background-color: $color-bg-btn-normal;
        border-radius: 9px;
        padding: 10px 15px 10px 60px;
        margin-bottom: 20px;
        transition: all 0.4s ease;

        &:hover {
            background-color: $color-bg-btn-hover;
        }

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/icons/donation-credit-card.svg');
            width: 30px;
            height: 23px;
            top: 10px;
            left: 15px;
        }
    }

    &__text {
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        color: $color-text-legal-inform;
    }
}