@charset "UTF-8";
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/arial-regular.woff2") format("woff2"), url("../fonts/arial-regular.woff") format("woff"), url("../fonts/arial-regular.ttf") format("ttf"), url("../fonts/arial-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../fonts/georgia-regular.woff2") format("woff2"), url("../fonts/georgia-regular.woff") format("woff"), url("../fonts/georgia-regular.ttf") format("ttf"), url("../fonts/georgia-regular.otf") format("otf");
}

@font-face {
  font-family: 'Georgia';
  font-style: bold;
  font-weight: 700;
  src: local("Georgia"), url("../fonts/georgia-bold.woff2") format("woff2"), url("../fonts/georgia-bold.woff") format("woff"), url("../fonts/georgia-bold.ttf") format("ttf"), url("../fonts/georgia-bold.otf") format("otf");
}

.footer__email, .footer__phone, .footer__location1, .footer__location2 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px 'Georgia', 'Times New Roman', 'Times', serif;
}

p {
  font: 400 15px "Arial", sans-serif;
  line-height: 160%;
}

.header, .gradient {
  background-image: url("../../assets/images/start-screen-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 990px) {
  .header, .gradient {
    background-image: url("../../assets/images/start-screen-background-990.png");
  }
}

@media (max-width: 767px) {
  .header, .gradient {
    background-image: url("../../assets/images/start-screen-background-320.png");
  }
}

.gradient {
  background-position-y: -180.19px;
}

@media (max-width: 990px) {
  .gradient {
    background-position-y: -150.19px;
  }
}

.footer {
  background-image: url("../../assets/images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 976px) {
  .footer {
    background-image: url("../../assets/images/footer-background-976.png");
  }
}

@media (max-width: 600px) {
  .footer {
    background-image: url("../../assets/images/footer-background-320.png");
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px;
}

@media (max-width: 767px) {
  .section {
    padding: 42px 0;
  }
}

.background {
  background-color: #F6F6F6;
}

.title {
  font-size: 35px;
  color: #545454;
  line-height: 130%;
  padding-bottom: 60px;
  letter-spacing: 0.06em;
}

@media (max-width: 600px) {
  .title {
    font-size: 25px;
    color: #545454;
    line-height: 130%;
    padding-bottom: 42px;
    text-align: center;
  }
}

.btn {
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 14px 43px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.btn:active {
  color: #292929;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.header {
  position: relative;
  padding: 60px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.header__logo-subtitle {
  font: 400 13px "Arial", sans-serif;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-right: 43px;
  }
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  letter-spacing: 0.006em;
  margin: 0 0 5px 35px;
}

.nav__link {
  font: 400 15px "Arial", sans-serif;
  color: #CDCDCD;
  padding-bottom: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: #FAFAFA;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.first {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hamburger:hover .hamburger__line {
  background-color: #FDDCC4;
}

.hamburger__line {
  position: absolute;
  width: 30px;
  height: 2px;
  border: none;
  background-color: #F1CDB3;
}

.hamburger__line_line1 {
  top: 0;
  left: 0;
}

.hamburger__line_line2 {
  top: 10px;
  left: 0;
}

.hamburger__line_line3 {
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger_open {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.pets.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper__item:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.wrapper__item:hover .wrapper__btn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.wrapper__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding: 30px 0 29px 0;
}

.wrapper__btn {
  background-color: transparent;
  margin-bottom: 30px;
}

@media (max-width: 1130px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
}

.footer__column1, .footer__column2, .footer__column3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.footer__title {
  display: inline-block;
  color: #FFFFFF;
  padding: 56px 0 0;
}

.footer__title_title1, .footer__title_title2 {
  margin: 0 40px 34px -1px;
}

.footer a {
  display: block;
}

.footer__email {
  padding: 10px 0 4px 60px;
  margin-bottom: 40px;
  position: relative;
}

.footer__email::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-email.svg");
  width: 40px;
  height: 32px;
  top: 5px;
  left: 0px;
}

.footer__phone {
  padding: 5px 0 4px 60px;
  margin-bottom: 60px;
  position: relative;
}

.footer__phone::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-phone.svg");
  width: 40px;
  height: 32px;
  top: 0px;
  left: 0px;
}

.footer__location1 {
  padding: 0px 0 4px 39px;
  margin-bottom: 32px;
  position: relative;
}

.footer__location1::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: 5px;
  left: -3px;
}

.footer__location2 {
  padding: 0px 0 4px 40px;
  margin-bottom: 60px;
  position: relative;
}

.footer__location2::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/icon-marker.svg");
  width: 22px;
  height: 32px;
  top: -5px;
  left: -3px;
}

.footer__img {
  padding-top: 40px;
  margin-left: 20px;
}

@media (max-width: 1279px) {
  .footer__container {
    gap: 2%;
  }
}

@media (max-width: 1054px) {
  .footer__container {
    gap: 0;
  }
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .footer__column3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1010px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .footer__title {
    padding: 30px 0 0;
  }
  .footer__phone, .footer__location2 {
    margin-bottom: 65px;
  }
  .footer__column1 {
    margin: 0 0 0 35px;
  }
  .footer__column2 {
    margin: 0 0 0 5px;
  }
}

@media (max-width: 976px) {
  .footer__img {
    padding-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 694px) {
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__title_title1, .footer__title_title2 {
    margin: 0 0 34px -1px;
  }
}

@media (max-width: 592px) {
  .footer__column1, .footer__column2, .footer__column3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__title {
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .footer__title_title2 {
    padding: 0 20px;
  }
  .footer__column1, .footer__column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .footer__phone {
    margin-bottom: 40px;
  }
  .footer__location2 {
    margin-bottom: 44px;
  }
  .footer__email {
    padding: 10px 0 4px 85px;
  }
  .footer__email::before {
    top: 5px;
    left: 24px;
  }
  .footer__phone {
    padding: 5px 0 4px 90px;
  }
  .footer__phone::before {
    top: 0px;
    left: 30px;
  }
  .footer__location1 {
    padding: 5px 0 4px 42px;
  }
  .footer__location1::before {
    top: 11px;
    left: 0;
  }
  .footer__location2 {
    padding: 8px 0 0 42px;
  }
  .footer__location2::before {
    top: 4px;
    left: 0px;
  }
  .footer__img {
    width: 87%;
    height: 87%;
  }
}

@media (max-width: 320px) {
  .footer__column1, .footer__column2 {
    display: block;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 42px;
}

.hero__title {
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
  padding-bottom: 42px;
  letter-spacing: 0;
}

.hero__decription {
  color: #CDCDCD;
  margin-bottom: 42px;
}

.hero__btn {
  margin-bottom: 80px;
}

.hero__right {
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .hero__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 990px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__left {
    margin: 0 17.5%;
  }
  .hero__btn {
    margin: 0 auto 100px;
  }
  .hero__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__img {
    width: 80.2%;
    height: 80.2%;
  }
}

@media (max-width: 767px) {
  .hero__img {
    width: 86.5%;
    height: 86.5%;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 130%;
    padding-bottom: 42px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .hero__left {
    margin: 0;
    text-align: center;
  }
  .hero__btn {
    margin: 0 auto 105px;
  }
}

.about {
  padding: 80px 175px 100px;
}

.about__img {
  margin-right: 120px;
}

.about__title {
  padding-bottom: 0;
}

.about__text {
  color: #4C4C4C;
  margin-top: 25px;
}

@media (max-width: 1279px) {
  .about {
    padding: 80px 159px 100px;
  }
  .about__img {
    margin-right: 80px;
  }
}

@media (max-width: 1150px) {
  .about {
    padding: 80px 109px 100px;
  }
}

@media (max-width: 990px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 80px 19.5% 100px;
  }
  .about__img {
    margin: 80px 0 0;
  }
}

@media (max-width: 767px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 42px 10% 42px;
  }
  .about__img {
    margin: 42px 0 0;
  }
}

@media (max-width: 600px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 42px 15px 42px;
  }
  .about__img {
    width: 96%;
    height: 96%;
  }
  .about__text {
    text-align: justify;
    margin-top: 23px;
  }
}

.pets__wrapper {
  padding: 0 105px;
}

.pets__btn {
  margin-top: 60px;
}

@media (max-width: 1130px) {
  .pets__wrapper {
    padding: 0 6.3%;
  }
}

@media (max-width: 435px) {
  .pets__btn {
    margin-top: 94px;
  }
}

.wrapper {
  position: relative;
}

.wrapper__btn-dir {
  background-color: transparent;
  position: absolute;
  top: 192px;
  padding: 24px;
  margin-bottom: 30px;
}

.wrapper__btn-dir_left {
  left: 0;
}

.wrapper__btn-dir_left::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/arrow-left.svg");
  width: 14px;
  height: 6px;
  left: 35.54%;
  top: 42.20%;
}

.wrapper__btn-dir_right {
  right: 0;
}

.wrapper__btn-dir_right::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/arrow-right.svg");
  width: 14px;
  height: 6px;
  left: 35.54%;
  top: 42.20%;
}

@media (max-width: 1130px) {
  .wrapper__item_item3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper__item_item2 {
    display: none;
  }
}

@media (max-width: 435px) {
  .wrapper__item {
    margin-bottom: 21px;
  }
  .wrapper__btn-dir {
    top: 100%;
    margin-bottom: 30px;
  }
  .wrapper__btn-dir_left {
    left: 19%;
  }
  .wrapper__btn-dir_right {
    right: 19%;
  }
}

.help {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 45px;
}

.help__title {
  text-align: center;
}

.help__box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px 55px;
}

.help__img {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
}

.help__img_img1 {
  background-image: url("../../assets/icons/icon-pet-food.svg");
}

.help__img_img2 {
  background-image: url("../../assets/icons/icon-transportation.svg");
}

.help__img_img3 {
  background-image: url("../../assets/icons/icon-toys.svg");
}

.help__img_img4 {
  background-image: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.help__img_img5 {
  background-image: url("../../assets/icons/icon-shampoos.svg");
}

.help__img_img6 {
  background-image: url("../../assets/icons/icon-vitamins.svg");
}

.help__img_img7 {
  background-image: url("../../assets/icons/icon-medicines.svg");
}

.help__img_img8 {
  background-image: url("../../assets/icons/icon-collars-leashes.svg");
}

.help__img_img9 {
  background-image: url("../../assets/icons/icon-sleeping-area.svg");
}

.help__subtitle {
  font-size: 20px;
  line-height: 115%;
  padding: 0;
  margin-top: 30px;
}

@media (max-width: 986px) {
  .help__box-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -1px;
    padding: 0 1.3%;
  }
  .help__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    margin: 0 0 55px 0;
  }
}

@media (max-width: 600px) {
  .help__box-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .help__subtitle {
    font-size: 15px;
    margin-top: 20px;
  }
  .help__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 44%;
            flex: 1 1 44%;
  }
  .help__item:nth-child(odd) {
    margin: 0 13px 30px 4px;
  }
  .help__item:nth-child(even) {
    margin: 0 4px 30px 13px;
  }
  .help__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
    margin: 0 13px -5px 4px;
  }
  .help__img {
    width: 50px;
    height: 50px;
  }
}

.donation {
  padding: 80px 143px 100px;
}

.donation__img {
  margin-right: 30px;
}

.donation__title {
  padding-bottom: 18px;
}

.donation__subtitle {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.donation__phone {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.donation__phone:hover {
  background-color: #FDDCC4;
}

.donation__phone::before {
  content: '';
  position: absolute;
  background-image: url("../../assets/icons/donation-credit-card.svg");
  width: 30px;
  height: 23px;
  top: 10px;
  left: 15px;
}

.donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (max-width: 1231px) {
  .donation {
    padding: 80px 10% 100px;
  }
  .donation__img {
    margin-right: 15px;
  }
}

@media (max-width: 1169px) {
  .donation {
    padding: 80px 5% 100px;
  }
}

@media (max-width: 1043px) {
  .donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 80px 0 100px;
  }
  .donation__description {
    margin: 0 23% 60px;
  }
}

@media (max-width: 767px) {
  .donation {
    padding: 42px 0;
  }
  .donation__description {
    margin: 0 15% 42px;
  }
}

@media (max-width: 600px) {
  .donation__subtitle {
    line-height: 160%;
    letter-spacing: 0;
  }
  .donation__description {
    text-align: center;
    margin: 0 10px 42px;
  }
  .donation__phone {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.057em;
    padding: 14px 15px 13px 60px;
  }
  .donation__phone::before {
    top: 10px;
  }
  .donation__text {
    text-align: justify;
  }
  .donation__img {
    width: 87.5%;
    height: 87.5%;
  }
}
