html {
    scroll-behavior: smooth;
}

body {
    font: 400 16px 'Georgia', 'Times New Roman', 'Times', serif;
}

p {
    @include font-arial;
    line-height: 160%;
}

.header, .gradient {
    background-image: url('../../assets/images/start-screen-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 990px) {
        background-image: url('../../assets/images/start-screen-background-990.png');
    }

    @media (max-width: 767px) {
        background-image: url('../../assets/images/start-screen-background-320.png');
    }
}

.gradient {
    background-position-y: -180.19px;

    @media (max-width: 990px) {
        background-position-y: -150.19px;
    }
}

 .footer {
    background-image: url('../../assets/images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 976px) {
        background-image: url('../../assets/images/footer-background-976.png');
    }

    @media (max-width: 600px) {
        background-image: url('../../assets/images/footer-background-320.png');
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: 1279px) {
        padding: 0 30px;
    }

    @media (max-width: 767px) {
        padding: 0 10px;
    }
}

.section {
    @include flex-container;
    padding: 80px 0 100px;

    @media (max-width: 767px) {
        padding: 42px 0;
    }
}

.background {
    background-color: $color-bg-section;
}

.title {
    @include style-title;
    letter-spacing: 0.06em;

    @media (max-width: 600px) {
        @include style-title($size: 25px, $pad: 42px);
        text-align: center;
    }
}

.btn {
    font-size: 17px;
    letter-spacing: 0.06em;
    color: $color-dark;
    background-color: $color-bg-btn-normal;
    border: 2px solid $color-bg-btn-normal;
    border-radius: 100px;
    padding: 14px 43px;
    transition: all 0.5s ease;

    &:hover {
        background-color: $color-bg-btn-hover;
        border: 2px solid $color-bg-btn-hover;
    }

    &:active {
        color: $color-dark;
        background-color: $color-bg-btn-hover;
        border: 2px solid $color-bg-btn-hover;
    }
}

// .shelter {
//     max-width: 1280px;
//     margin: 0 auto;

//     @media (max-width: 767px) {
//         overflow: hidden;        
//     }
// }

.header {
    position: relative;
    padding: 60px 0;

    &__container {
        @include flex-container($jus: stretch);
    }

    &__logo-wrapper {
        @include flex-container($dir: column);
    }

    &__logo-title {
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-bg-btn-normal;
        margin-bottom: 10px;
    }

    &__logo-subtitle {
        @include font-arial($size: 13px);
        letter-spacing: 0.1em;
        color: $color-white;
    }

    // &__nav {
    // }

    // &__hamburger {
    // }

    @media (max-width: 1279px) {
        padding-top: 30px;
    }

    @media (max-width: 767px) {
        padding-right: 43px;        
    }
}

.nav {
    margin-left: auto;

    &__list {
        @include flex-container;
    }

    &__item {
        letter-spacing: 0.006em;
        margin: 0 0 5px 35px;
    }

    &__link {
        @include font-arial;
        color: $color-gray-normal;
        padding-bottom: 4px;
        transition: all 0.3s ease;

        &:hover {
            color: $color-gray-hover_modal-card;
        }

        // &:active, &:focus {
        //     color: $color-gray-hover_modal-card;
        //     border-bottom: 3px solid $color-bg-btn-normal;
        // }
    }

    @media (max-width: 767px) {
        display: none;
        // position: absolute;
        // top: 0;
        // right: -85%;
        // width: 85%;
        // height: 100vh;
        // background-color: $color-dark;
        // padding-top: 249px;
        // transition: all 0.5s;

        // &_open {
        //     display: block;
        //     right: 0;
        // }

        // &__list {
        //     @include flex-container($dir: column, $jus: start);
        //     margin: 0 auto;
        // }

        // &__item {
        //     margin: 0 0 43px 0;
            
        //     &:nth-child(3) {
        //         margin: 0 0 40px 0;
        //     }

        //     &:nth-child(4) {
        //         margin: 0 0 38px 0;
        //     }
        // }

        // &__link {
        //     @include font-arial($size: 32px);
        //     line-height: 160%;
        //     padding-bottom: 7px;
        // }
    }

    // @media (max-width: 450px) {
    //     right: -100%;
    //     width: 100%;

    //     &_open {
    //         display: block;
    //         right: 0;
    //     }
    // }
}

.first {
    color: $color-gray-hover_modal-card;
    border-bottom: 3px solid $color-bg-btn-normal;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    margin-left: auto;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover .hamburger__line {
        background-color: $color-bg-btn-hover;
    }

    &__line {
        position: absolute;
        width: 30px;
        height: 2px;
        border: none;
        background-color: $color-bg-btn-normal;
        
        &_line1 {
            top: 0;
            left: 0;
        }

        &_line2 {
            top: 10px;
            left: 0;
        }

        &_line3 {
            bottom: 0;
            left: 0;
        }
    }

    @media (max-width: 767px) {
        display: block;

        &_open {
            transform: rotate(90deg) ;
        }
    }
}

.pets.section {
    @include flex-container($dir: column);
}

.pets {
    &__title {
        text-align: center;
    }
}

.wrapper {
    width: 100%;
    @include flex-container($jus: space-between);
    flex-wrap: wrap;

    &__item {
        @include flex-container($dir: column, $jus: space-between);
        background-color: $color-gray-hover_modal-card;
        border-radius: 9px;
        transition: all 0.5s ease;

        &:hover {
            background-color: $color-white;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            cursor: pointer;
        }

        &:hover .wrapper__btn {
            background-color: $color-bg-btn-hover;
            border: 2px solid $color-bg-btn-hover;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        padding: 30px 0 29px 0;
    }

    &__btn {
        background-color: transparent;
        margin-bottom: 30px;
    }

    @media (max-width: 1130px) {
        @include flex-container($jus: space-around);
    }
}

.footer {
    &__container {
        @include flex-container($jus: space-between);
        flex-wrap: wrap;
        gap: 10%;
    }

    &__column1, &__column2, &__column3 {
        flex: 1 1 25%;
    }

    &__title {
        display: inline-block;
        color: $color-white;
        padding: 56px 0 0;

        &_title1, &_title2 {
            margin: 0 40px 34px -1px;
        }
    }

    a {
        display: block;
    }

    &__email {
        @extend %footer-contacts-style;
        padding: 10px 0 4px 60px;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/icons/icon-email.svg');
            width: 40px;
            height: 32px;
            top: 5px;
            left: 0px;
        }
    }

    &__phone {
        @extend %footer-contacts-style;
        padding: 5px 0 4px 60px;
        margin-bottom: 60px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/icons/icon-phone.svg');
            width: 40px;
            height: 32px;
            top: 0px;
            left: 0px;
        }
    }

    &__location1 {
        @extend %footer-contacts-style;
        padding: 0px 0 4px 39px;
        margin-bottom: 32px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/icons/icon-marker.svg');
            width: 22px;
            height: 32px;
            top: 5px;
            left: -3px;
        }
    }

    &__location2 {
        @extend %footer-contacts-style;
        padding: 0px 0 4px 40px;
        margin-bottom: 60px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/icons/icon-marker.svg');
            width: 22px;
            height: 32px;
            top: -5px;
            left: -3px;
        }
    }

    &__img {
        padding-top: 40px;
        margin-left: 20px;
    }

    @media (max-width: 1279px) {
        &__container {
            gap: 2%;
        }
    }

    @media (max-width: 1054px) {
        &__container {
            gap: 0;
        }   
        &__column1, &__column2, &__column3 {
            flex: 1 1 50%;
        }

        &__column3 {
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 1010px) {
        &__container {
            @include flex-container($jus: space-evenly);
            gap: 0;
        }   
        &__column1, &__column2, &__column3 {
            flex: 1 1 40%;
        }
        &__title {
            padding: 30px 0 0;
        }
        &__phone, &__location2 {
            margin-bottom: 65px;
        }
        &__column1 {
            margin: 0 0 0 35px;
        }
        &__column2 {
            margin: 0 0 0 5px;
        }
    }

    @media (max-width: 976px) {
        &__img {
            padding-top: 0;
            margin-left: 0;
        }
    }

    @media (max-width: 694px) {  
        &__column1, &__column2, &__column3 {
            flex: 0 1 50%;
        }

        &__title {
            &_title1, &_title2 {
                margin: 0 0 34px -1px;
            }
        }        
    }

    @media (max-width: 592px) {
        &__column1, &__column2, &__column3 {
            flex: 0 1 100%;
        }

        &__title {
            line-height: 130%;
            letter-spacing: 0.06em;
            &_title2 {
                padding: 0 20px;
            }
        }

        &__column1, &__column2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        &__phone {
            margin-bottom: 40px;
        }

        &__location2 {
            margin-bottom: 44px;
        }

        &__email {
            padding: 10px 0 4px 85px;    
            &::before {
                top: 5px;
                left: 24px;
            }
        }

        &__phone {
            padding: 5px 0 4px 90px;
            &::before {
                top: 0px;
                left: 30px;
            }
        }

        &__location1 {
            padding: 5px 0 4px 42px;
            &::before {
                top: 11px;
                left: 0;
            }
        }

        &__location2 {
            padding: 8px 0 0 42px;
            &::before {
                top: 4px;
                left: 0px;
            }
        }

        &__img {
            width: 87%;
            height: 87%;
        }
    }

    @media (max-width: 320px) {
        &__column1, &__column2 {
            display: block;
        }
    }
}
